<form class="form-horizontal">
<div class="control-group">
	<label class="control-label" for="username">APP ID：</label>
	<div class="controls">
		<input type="text" id="username" ng-model="username" placeholder="">
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="password">Secret：</label>
	<div class="controls">
		<input type="password" id="password" ng-model="password">
	</div>
</div>
<button class="btn btn-primary" ng-click="login()">Login</button>
</form>